{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Login{% endblock %}

{% block content %}

<form method="POST">
    <h2 align="center">Login</h2>
    <div class="form-group align-content-center">
        
        {{ wtf.form_field(form.email) }}
        <br>
        {% for err in form.email.errors %}
            <span style="color: red">{{ err }}</span>
        {% endfor %}

        {{ wtf.form_field(form.password) }}
        <br>
        {% for err in form.password.errors %}
            <span style="color: red">{{ err }}</span>
        {% endfor %}
        {{ wtf.form_field(form.submit, button_map={'submit':'dark'}) }}
        
    </div>
</form>

{% endblock %}


<!-- 
<label for="email">Email Address: </label>
<input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
<br>
<label for="password">Password: </label>
<input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" />
<br>
<button class="btn btn-dark" type="submit">Login</button>
-->