{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Create A Post{% endblock %}

{% block content %}
<h1>Create A Post</h1>

<br />

{{ ckeditor.load() }}
{{ ckeditor.config(name='body') }}



{{ wtf.quick_form(form=form, novalidate=True, button_map={"submit":"dark"}) }}

<!-- <form method="POST">
    <br />
    <label for="title">Article Title</label>
    <input type="text" id="title" name="title" class="form-control" placeholder="Enter article title" />
    <br />
    <label for="text">Article Content</label>
    <textarea name="text" id="text" class="form-control" placeholder="Enter article content"></textarea>
    <br />
    <button type="submit" class="btn btn-lg btn-dark">Create Post</button>
</form> -->

{% endblock %}