{% extends "base.html" %}

{% block title %}welcome {{ post.title }}{% endblock %}

{% block content %}

<div id="posts">
    <div class="d-flex align-items-baseline">
        <h1>{{ post.title }}</h1>
         
        {% if post.author == user.id %}
            <h6 class="text-dark text-bottom">
                <span class="post-function-spacing"></span>
                <a class="text-primary text-decoration-none" href="{{ url_for("views.edit_post", post_id = post.id) }}"><span class="bi bi-pencil-fill" title="Edit Post"></span></a>
            </h6>
            <h6 class="text-dark text-top">
                <span class="post-function-spacing"></span>
                <a class="text-danger text-decoration-none" href="{{ url_for("views.delete_post", post_id = post.id) }}"><span class="bi bi-x-square-fill" title="Delete Post"></span></a>
            </h6>
        {% endif %}

    </div>
    <h6 class="text-decoration-none small text-muted fst-italic">Created By: <a class="text-decoration-none small text-center text-muted fst-italic" href="{{ url_for("views.posts", username = post.user.username) }}"> {{ post.user.username }}</a></h6>
    <h6 class="text-decoration-none small text-muted fst-italic">Published: {{ post.date_created }}</h6>
    
    <hr />
    <p>{{ post.text }}</p>
    <hr />                
    <h6>        
        {% if post.likes | length == 0 %}
            <i class="fa-regular fa-heart text-danger" id="like-button-{{ post.id }}" onclick="like({{ post.id }})"></i>
        {% else %}
            <i class="fa-solid fa-heart text-danger" id="like-button-{{ post.id }}" onclick="like({{ post.id }})"></i>
        {% endif %} 
        <span id="likes-count-{{ post.id }}">{{post.likes | length }}</span>

        <span class="link-break-spacing">|</span>
        <a class="text-decoration-none text-dark" href="{{ url_for("views.read_post", post_id = post.id) }}#comments">
            {% if post.comments | length == 0 %}
                <i class="fa-regular fa-comment text-success"></i> {{ post.comments | length }}
            {% else %}
                <i class="fa-solid fa-comment text-success"></i> {{ post.comments | length }}
            {% endif %}
        </a>
    </h6>
</div>

<hr />        
<div id="comments">
    <h3>Comments</h3>
    <hr />
    <form class="input-group" method="POST" action="{{ url_for("views.create_comment", post_id = post.id) }}">
        <input class="form-control" id="text" name="text" placeholder="Enter your comment here." />
        <button class="btn btn-dark" type="submit">Submit</button>
    </form>
    <hr />

    <div>
        {% if post.comments | length > 0 %}
            <!-- comments section starts -->
                {% for comment in post.comments%}
                        <div class="card">
                            <div id="comments-expanded-{{ post.id }}">
                                <div class="card-header bg-secondary text-light d-flex justify-content-between align-items-center">
                                    <div>
                                        <h6><a class="text-light" href="{{ url_for("views.posts", username = comment.user.username) }}"> {{ comment.user.username }} Wrote:</a></h6>
                                    </div>
                                    
                                    {% if user.id == comment.author or user.id == post.author %}
                                    <div>
                                        <h6><span class="bi bi-x-square">  </span><a class="text-light" href="{{ url_for("views.delete_comment", comment_id = comment.id) }}">Delete</a></h6>
                                    </div>
                                    {% endif %}

                                </div>
                                <div class="card-body">
                                    <p>{{ comment.text }}</p>
                                </div>
                                <div class="card-footer bg-secondary text-light d-flex justify-content-between align-items-center">
                                    <h6>Comment Posted: {{ comment.date_created }}</h6>
                                </div>

                            </div>
                        </div>
                    <br>
                {% endfor %}
            <!-- comments section ends -->
        
        {% else %}
            <h3 class="text-dark">No comments for this article</h3>
        
        {% endif %}
        </div>

    

</div>

{% endblock %}